@{
    ViewData["Title"] = "Home Page";
}
@{
    var username = ViewBag.Username as string;
    var role = ViewBag.Role as string;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
